<br/><!--form es instalcia de formulario, manipulado en el comp.ts, evento ngSubmit llama operr cuando hago cick en bton -->
<!--form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm"-->
<form class="example-container" [formGroup]="form" (ngSubmit)="registrar()"   #loginForm="ngForm">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" required formControlName="apellido">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Documento" required formControlName="documento" type="number" maxlength="8">
  </mat-form-field>
                   
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" required formControlName="username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" required formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"> <!--Desabilitado si apodo sea invalido-->    
    <span>Registrar</span>
  </button>

  <button mat-raised-button color="accent" routerLink='/login' type="button">
    <!--mat-icon>close</mat-icon-->
    <span>Loging</span>
  </button>
</form>

<br/>
