<mat-toolbar>Sala</mat-toolbar>

    <router-outlet></router-outlet>


<div class="example-container mat-elevation-z8">
  
  <!--"Buscar". keyup atiende sensa tecla precinada-->
  <div class="example-header">
    <mat-form-field>           <!--Filtrar tx-->
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Sala">
    </mat-form-field>
  </div>

  <!--"Tabla"-->
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="sala_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.sala_id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descripcion}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="capacidad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.capacidad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | date }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.update | date}} </mat-cell>
  </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       
        <mat-cell *matCellDef="let row">
          <button mat-button color="primary" [routerLink]="['edicion',row.sala_id]"> Actualizar </button>
          <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 <!--evento page, cuando detecta cambio en pgs, dispara metodo mostrarMas($event) -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<br/>
<button mat-fab color="accent" style="float: right" routerLink='/sala/nuevo'>
<mat-icon>create</mat-icon>
</button>
