<mat-toolbar>Funcion</mat-toolbar>

    <router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">
  
  <!--"Buscar". keyup atiende sensa tecla precinada-->
  <div class="example-header">
    <mat-form-field>           <!--Filtrar tx-->
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Funcion">
    </mat-form-field>
  </div>
  <!--"Tabla"-->
  <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="funcion_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.funcion_id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sala">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sala </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.sala.sala_id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fecha | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pelicula">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pelicula </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pelicula.pelicula_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created | date }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.update | date}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       
        <mat-cell *matCellDef="let row">
          <button mat-button color="primary" [routerLink]="['edicion',row.funcion_id]"> Actualizar </button>
          <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
 <!--evento page, cuando detecta cambio en pgs, dispara metodo mostrarMas($event) -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<br/>
<button mat-fab color="accent" style="float: right" routerLink='/funcion/nuevo'>
<mat-icon>create</mat-icon>
</button>
