<mat-toolbar>Registro de Compra</mat-toolbar>
<div class="example-container">



  <mat-form-field   > <!-- funcion seleccionda se copia en idFuncionSeleccinada--><!--(change)="laPeli=getEstaFuncion(idFuncionSeleccinada)" IGUAL-->
    <!--ACÄ VAN TODOS LOS ATRIBUTOS DE FUNCION-->  <!--[(value)] Obtengo id-->       <!--[ngModel]lo que quiero mapear a ts-->      <!--(ngModelChange)=paso lo seleccionado-->     
    <mat-select placeholder="Funcion: Seleccionar Películas" [(value)]="idFuncionSeleccinada"  [ngModel]="idFuncionSeleccinada" (ngModelChange)="laFuncin=getEstaFuncion($event)">
    <!--mat-select placeholder="Fuuncion: Películas" [(value)]="idFuncionSeleccinada" -->
      <mat-option  *ngFor="let f of funciones" [value]="f.funcion_id" > 
     {{f.pelicula.titulo}}({{f.sala.descripcion}})  {{f.fecha  | date:'dd MMM, h:mm'| titlecase}}   <!--Pelicula: {{ f.pelicula.titulo}}  {{ f.fecha | date}}-->
      </mat-option>                                                                    <!--date:'MMM d, y, h:mm:ss a'--> 
    </mat-select>


    <mat-card class="example-card"  *ngIf="idFuncionSeleccinada > 0" ><!-- N°: {{laFuncin?.sala?.sala_id}} -->
      <mat-card-header >
        <mat-card-title > -Nombre: {{laFuncin?.pelicula?.titulo}} - Estreno: {{laFuncin?.pelicula?.estreno | date}}    </mat-card-title>
        <mat-card-subtitle>Sala: {{laFuncin?.sala?.descripcion}} -  Valor:{{precioEntrada | currency}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Calificación: {{laFuncin?.pelicula?.calificacion.descripcion}} </p>
      </mat-card-content>
    </mat-card>
  </mat-form-field>
  
  <mat-form-field *ngIf="idFuncionSeleccinada > 0" > <!-- sala seleccionda se copia en idSalaSeleccinada-->     <!--laFuncin?.sala.sala_id => Paso ditecto el sala_id pa' relaconar diectamente funcion, sala y butaca-->
     <mat-select placeholder="ButacaFila" [(value)]="butacaFila" ><!--[ngModel]="butacaFila"   (ngModelChange)="butFil=getEstaFilaButaca($event)"--> 
        <mat-option *ngFor="let fB of filaBuata" [value]="fB">
            Fila: {{fB}} <!--{{  laFuncin?.sala.descripcion}}  SI ANDA ACÁ-->        
        </mat-option>      
    </mat-select>
  </mat-form-field>

  <mat-form-field  *ngIf="butacaFila !=null" > <!-- sala seleccionda se copia en idSalaSeleccinada-->     <!--laFuncin?.sala.sala_id => Paso ditecto el sala_id pa' relaconar diectamente funcion, sala y butaca-->
    <mat-select placeholder="ButacaNumero "   [(value)]="butacaNumero" [ngModel]="butacaNumero"    (ngModelChange)="msgPorButaca=getEsteNumeroButaca()"> 
      <mat-option *ngFor="let nB of numeroButaca" [value]="nB">
          Numero: {{nB}} <!--{{  laFuncin?.sala.descripcion}}  SI ANDA ACÁ-->        
         </mat-option>      
    </mat-select>   
      
  <mat-card class="example-card"  *ngIf="butacaNumero">
      <mat-card-header >
        <mat-card-title >FIla: {{butacaFila}}  - Numero: {{butacaNumero}}  </mat-card-title>        
        <mat-card-title >  MSG: {{msgPorButaca}} </mat-card-title>   
        <mat-card-title >Valor:{{precioEntrada | currency}} </mat-card-title> 
      </mat-card-header>        
  </mat-card>
  </mat-form-field><br>
  <!---->
  <mat-form-field  *ngIf="butacaNumero" > <!--<p *ngIf="a && b"> <*ngIf="a || b">  type="number" -->
      <input matInput placeholder="Tarjeta Numero" type="text" size="16" maxlength="16" (keyup)="onKey($event)"  >
    </mat-form-field><br>

<mat-form-field   *ngIf="!display" >
    <!--mat-label>Datos de tarjeta</mat-label -->
    <mat-select placeholder="Tipo de Tarjeta" [(value)]="tipoTarjeta" [ngModel]="tipoTarjeta" (ngModelChange)="tarjetaReturn=consultardatosTarjetaPago()" >
      <mat-option *ngFor="let tt of tarjetaTipo" [value]="tt">
        {{tt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<!---->
<mat-card class="example-card" *ngIf="!display" >
    <mat-card-header >
      <mat-card-title >Tarjeta: {{tarjetaNumero}}   </mat-card-title>    
      <mat-card-title >Mensaje {{tarjetaReturn}} </mat-card-title>        
     
    </mat-card-header>        
</mat-card>

<button mat-raised-button color="primary"  (click)="aceptar()"  [disabled]="!flagPago">Registrar</button>

</div> 
<!--FALTA VALIDAR SI TARJETA existe en la Base de datos, antes deseguir cnsultando si hay saldo y ueg pagar-->