<div class="example-container">    
   
    <mat-toolbar color="primary" class="example-toolbar"> <!--barra azul cabecera-->
        
        <button mat-icon-button (click)="sidenav.toggle()"> <!--varía entre serrado/abierto-->
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        
        <h1 class="example-app-name">Cine</h1>
        
        <span class="example-spacer"></span> <!--poner a extremos 3 puntos y título de barra azu cabecera a derch-->
        
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>        
        
        <mat-menu #menu="matMenu" >
              
                <button mat-menu-item routerLink="/login">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Cerrar Sesión</span>
                </button>
            
            </mat-menu>
        
    </mat-toolbar>
   
    <mat-sidenav-container class="example-sidenav-container" >

        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 200px" >
    
            <!--img src="assets/logoG.png" width="64"-->
            <!--mat-divider></mat-divider-->


            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/cliente" style="cursor: pointer" *ngIf="loginSevice.isAdmin()"> <!--*ngIf="loginSevice.isAdmin()"-->
                <mat-icon>perm_identity</mat-icon>
                <span>Cliente</span>
            </button>
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/ticket" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>print</mat-icon>
                <span>Ticket</span>                         
            </button>   
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/entrada" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>description</mat-icon>
                <span>Entrada</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/sala" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>meeting_room</mat-icon>
                <span>Sala</span>
            </button>
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/butaca" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>airline_seat_legroom_normal</mat-icon>
                <span>Butaca</span>
            </button> 
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/calificacion" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>list_alt</mat-icon>
                <span>Calificacion</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pelicula" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>switch_video</mat-icon>
                <span>Película</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/funcion" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>movie_filter</mat-icon>
                <span>Función</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/ocupacion" style="cursor: pointer" *ngIf="loginSevice.isAdmin()">
                <mat-icon>poll</mat-icon>
                <span>Ocupacion</span>
            </button>

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/comprardto" style="cursor: pointer">
                <mat-icon>art_track</mat-icon>
                <span>Comprar</span>
            </button>



        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    
    </mat-sidenav-container>
     
</div>