<mat-card>Ingrese los datos de la butaca</mat-card>

<br/><!--form es instalcia de formulario, manipulado en el comp.ts, evento ngSubmit llama operr cuando hago cick en bton -->
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">
  
  <div [hidden]="true"> <!--Campo oculto-->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id"> <!--formControlName llama y vincula a instancia de formulario "form"-->
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sala" required formControlName="sala">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fila" required formControlName="fila">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Numero" required formControlName="numero" type="number" maxlength="2">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripcion" required formControlName="descripcion">
  </mat-form-field>
                                                              
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"> <!--Desabilitado si apodo sea invalido-->    
    <span>Aceptar</span>
  </button>

  <button mat-raised-button color="accent" routerLink='/butaca' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>
